.pokedex-pokemon-span {
    background-color: #f00020;
    border-radius: 10px 10px 10px 10px;
    margin:5px;
    border:2px solid black;
    width:80%;
    height:100%;
    min-width:200px;
    cursor: pointer;
}

.pokedex-pokemon-span:hover {
    background-color: #ffd700;
}

.pokedex-pokemon-span-selected {
    background-color: #ffe524;
    border-radius: 10px 10px 10px 10px;
    margin:5px;
    border:2px solid black;
    width:74%;
    min-width:200px;
    height:100%;
    cursor: pointer;
}

.pokedex-pokemon-span-selected:hover {
    background-color: #ffd700;
}

.name {
    padding-bottom:50%;
    padding-left:60px;
}

.pokedex {
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.pokedex-pokemon-list {
    width:90%;
}