.pokemon-item {
    position:relative;
    float:right;
    margin-right:30px;
    border-radius:10px 10px 10px 10px;
    border:3px solid black;
    padding:30px;
    width:605px;
    height:500px;
    background-color: white;
}

.pokemon-first {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:65%;
}

.pokemon-evolutions {
    height:35%;
}

.pokemon-item-not-loaded {
    position:absolute;
    float:right;
    margin-left:10px;
    padding:30px;
    width:595px;
    height:500px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    margin-top:5px;
}

.pokemon-name-id {
    text-transform:capitalize;
    font-size:25px;
    position:absolute;
    margin-left:5%;
}

.pokemon-image {
    margin-top:38px;
}

.pokemon-div-types {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:90%;
}

.pokemon-height-weight {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:100%;
}

.pokemon-item-tertiary {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    height:60%;
    width:50%;
}

.pokemon-genera,
.pokemon-habitat,
.pokemon-baby,
.pokemon-mythical,
.pokemon-legendary,
.pokemon-shape {
    margin-left:25%;
    margin-top:10px;
    margin-bottom:10px;
}

.pokemon-stats {
    display:grid;
    height:100px;
    margin-top:20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    border-radius:10px 10px 10px 10px;
    padding:5px;
    border:1px solid black;
}

.pokemon-baby {
    background-color: #FFB6C1;
}

.pokemon-mythical {
    background-color: #7F00FF;
}

.pokemon-legendary {
    background-color: #FF69B4;
}

.pokemon-baby,
.pokemon-mythical,
.pokemon-legendary {
    border-radius:5px 5px 5px 5px;
    width:200px;
    height:25px;
    text-align:center;
    padding-top:7px;
    margin-left:35px;
}

.pokemon-forms {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:40%;
    width:100%;
    text-align:center;
    margin-top:10px;
}

.evolutions {
    height:100%;
    width:100%;
}

.mega {
    height:100%;
    width:100%;
}

.regional {
    height:100%;
    width:100%;
}

.evolve-image,
.form-image,
.mega-image {
    display:flex;
    flex-direction:row;
    margin-left:22px;
}

.evolve-image {
    cursor: pointer;
}

.evolve-div,
.mega-div,
.form-div {
    display:flex;
    flex-direction:row;
    width:150px;
    justify-content:space-between;
    margin-left:30px;
    margin-top:-30px;
}

.arrow-left,
.arrow-right {
    background-color:#ff2d49;
    padding:4px;
    border:solid black 1px;
    border-radius:10px 10px 10px 10px;
    cursor:pointer;
}

.arrow-left-disabled,
.arrow-right-disabled {
    background-color: #696969;
    padding:4px;
    border:solid black 1px;
    border-radius:10px 10px 10px 10px;
}